# Конфигурация сервера BungaaCord Desktop
# Скопируйте этот файл в .env.test для запуска npm start

# URL фронтенд сервера BungaaCord
SERVER_URL=http://localhost:8080

# URL бекенд сервера BungaaCord
BACKEND_URL=http://127.0.0.1:8081

# Игнорировать проверку SSL сертификатов (для самоподписанных сертификатов)
IGNORE_SSL=false